<script>
    const radius=1;
    function get_circum(radius) {
        return Math.round(2*radius*Math.PI*100)/100;
    }
</script>

<p>The circumference of a circle with radius {radius} m is {get_circum(radius)} m. </p>