
<script>
let count = 0;
function handleClick(event) {count += 1;}	
function reset () {count=0}
</script>
<button on:click={handleClick}>
	Counting ({count})
</button>
<button on:click={reset}>
	Reset counter
</button>


