<script>
  var index=-1;
    
    function Color1(){
    var ele=document.getElementById("light1");
    var color = ["#ff000080", "red"];
      index = index + 1
      if (index < color.length){
        ele.style.fill=color[index];
      }else{
        index=1;
        ele.style.fill=color[index];
      }	
  }	
  
    function Color2(){
    var ele=document.getElementById("light2");
    var color = ["#ff000080", "red"];
      index = index + 1
      if (index < color.length){
        ele.style.fill=color[index];
      }else{
        index=1;
        ele.style.fill=color[index];
      }	
  }	
    
    function Color3(){
    var ele=document.getElementById("light3");
    var color = ["#ff000080", "red"];
      index = index + 1
      if (index < color.length){
        ele.style.fill=color[index];
      }else{
        index=1;
        ele.style.fill=color[index];
      }	
  }	
    
    function Color4(){
    var ele=document.getElementById("light4");
    var color = ["#ff000080", "red"];
      index = index + 1
      if (index < color.length){
        ele.style.fill=color[index];
      }else{
        index=1;
        ele.style.fill=color[index];
      }	
  }	
    
      function Color5(){
    var ele=document.getElementById("light5");
    var color = ["#ff000080", "red"];
      index = index + 1
      if (index < color.length){
        ele.style.fill=color[index];
      }else{
        index=1;
        ele.style.fill=color[index];
      }	
  }		
    
  setInterval(Color5,3000);
  setInterval(Color4,6000);
  setInterval(Color3,9000);
  setInterval(Color2,12000);
  setInterval(Color1,15000);
  
  </script>
  
  <svg viewBox="0 0 800 100">
    <circle cx="100" cy="50" r="50" fill="#ff000080" id="light1"></circle>
    <circle cx="250" cy="50" r="50" fill="#ff000080" id="light2"></circle>
    <circle cx="400" cy="50" r="50" fill="#ff000080" id="light3"></circle>
    <circle cx="550" cy="50" r="50" fill="#ff000080" id="light4"></circle>
    <circle cx="700" cy="50" r="50" fill="#ff000080" id="light5"></circle>
  </svg>
  
