<script>

	// Scale
	import {scaleLog} from 'd3-scale';
  
	// Dimensions
	const width = 800;
	const height = 100;
	const margin = { top: 5, right: 5, bottom: 25, left: 5 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  
	// Array
	const values = [2, 4, 6, 7, 9];
  
	// Scale
	const scale = scaleLog();
  
  </script>
  
  <svg viewBox="0 0 {width} {height}">
	<g transform="translate({margin.left},{margin.top})">
		{#each values as value}
		<circle cx={width*scale(value)} cy={innerHeight / 2} r=10 style= fill:steelblue/>
		{/each}
	</g>
  
	<g transform="translate(0, 70)" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
		  <text x="395" y="25" text-anchor="middle" fill="currentcolor">x label</text>
		  <path class="domain" stroke="currentColor" d="M0.5,6V0.5H790.5V6"></path>
			  
		  <g class="tick" opacity="1" transform="translate(0.5,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">1</text>
		  </g>
  
		  <g class="tick" opacity="1" transform="translate(238.3136965745451,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">2</text>
		  </g>
		  
		  <g class="tick" opacity="1" transform="translate(377.4257912285332,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">3</text>
		  </g>
		  
		  <g class="tick" opacity="1" transform="translate(476.1273931490902,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">4</text>
		  </g>
		  
		  <g class="tick" opacity="1" transform="translate(552.6863034254548,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">5</text>
		  </g>
		  
		  <g class="tick" opacity="1" transform="translate(615.2394878030784,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">6</text>
		  </g>
		  
		  <g class="tick" opacity="1" transform="translate(668.1274516112628,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">7</text>
		  </g>
  
  
		  <g class="tick" opacity="1" transform="translate(713.9410897236353,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">8</text>
		  </g>
		  
		  <g class="tick" opacity="1" transform="translate(754.3515824570667,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">9</text>
		  </g>
			  
		  <g class="tick" opacity="1" transform="translate(790.5,0)">
		  <line stroke="currentColor" y2="6"></line>
		  <text fill="currentColor" y="9" dy="0.71em">10</text>
		  </g>
		  
	  </g>
  
  </svg>

