<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1="158" x2="158" y1="50" y2="75" stroke="black"></line>
    <circle cx="158" cy="50" r="5" fill="#1b9e77"></circle>
    <text x="158" y="40">1</text>
    <line x1="316" x2="316" y1="25" y2="75" stroke="black"></line>
    <circle cx="316" cy="25" r="5" fill="#d95f02"></circle>
    <text x="316" y="15">2</text>
    <line x1="474" x2="474" y1="50" y2="75" stroke="black"></line>
    <circle cx="474" cy="50" r="5" fill="#7570b3"></circle>
    <text x="474" y="40">1</text>
    <line x1="553" x2="553" y1="0" y2="75" stroke="black"></line>
    <circle cx="553" cy="0" r="5" fill="#d95f02"></circle>
    <text x="553" y="-10">3</text>
    <line x1="711" x2="711" y1="50" y2="75" stroke="black"></line>
    <circle cx="711" cy="50" r="5" fill="#7570b3"></circle>
    <text x="711" y="40">1</text>
    <line x1="0" x2="790" y1="75" y2="75" stroke="black"></line>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
