<script>
	import { scaleLinear } from 'd3-scale';

    const data = [
	  { service: "Netflix", viewers: 2.9 },
	  { service: "Amazon Prime Video", viewers: 1.3 },
	  { service: "Disney+", viewers: 2.1 },
	  { service: "Hulu", viewers: 0.9 },
	  { service: "Apple TV", viewers: 1.1 },
	  { service: "Rakuten", viewers: 0.4 }
	];


	const xTicks = ["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"];
	const yTicks = [0, 0.5, 1, 1.5, 2, 2.5, 3];
	const margin = { top: 20, right: 15, bottom: 20, left: 25 };

	let width = 600;
	let height = 300;

	function formatMobile(tick) {
		return "'" + tick.toString();
	}

	$: xScale = scaleLinear()
		.domain([0, xTicks.length])
		.range([margin.left, width - margin.right]);

	$: yScale = scaleLinear()
		.domain([0, Math.max.apply(null, yTicks)])
		.range([height - margin.bottom, margin.top]);

	$: innerWidth = width - (margin.left + margin.right);
	$: barWidth = innerWidth / xTicks.length;
</script>


<div class="chart" bind:clientWidth={width} bind:clientHeight={height}>
	<svg>
		<!-- y axis -->
		<g class="axis y-axis">
			{#each yTicks as tick}
				<g class="tick tick-{tick}" transform="translate(0, {yScale(tick)})">
					<line x2="100%"></line>
					<text y="-4">{tick} {tick === 20 ? ' per 1,000 population' : ''}</text>
				</g>
			{/each}
		</g>

		<!-- x axis -->
		<g class="axis x-axis">
			{#each data as point, i}
				<g class="tick" transform="translate({xScale(i)},{height})">
					<text x="{barWidth/2}" y="-4">{width > 380 ? point.service : formatMobile(point.service)}</text>
				</g>
			{/each}
		</g>

		<g class='bars'>
			{#each data as point, i}
				<rect
					x="{xScale(i) + 2}"
					y="{yScale(point.viewers)}"
					width="{barWidth - 4}"
					height="{yScale(0) - yScale(point.viewers)}"
				></rect>
			{/each}
		</g>
	</svg>
</div>



<style>

svg {
	position: relative;
	width: 100%;
	height: 200px;
	}

text{
	font-size:50%
}

.bars rect {
		fill: steelblue;
			}
</style>